body{
    background-color: rgb(245, 230, 212);
}

#logobox {
    position: absolute;
    top: 10px;
    left: 20px;
    font-family: Roboto;
    font-size: 40px;
    margin-top: 10px;
  }

  #logobox:hover{
    transform: scale(1.1);
    transition: 2s;
  }
  a{
      text-decoration: none;
      color: #6e2a0f;
  }

  header{
    font-family: Roboto;
    text-align: center;
    font-size: 30px;
    text-decoration-line: none;
    margin-top: 150px;
    color: #6e2a0f;
  }

  #categorybox{
    position: relative;
  justify-content: center;
  text-align: center;
  font-size: 20px;
  align-items: center;
  }
  
  #category{
    display: inline-flex;
    justify-content: center;
    height: 40px;
    font-family: Roboto;
  }

  #aboutme{
   width: 200px;
   border: 1px solid #d2744e;
   border-right: 0px;
   border-bottom: 0px;
   padding-top: 14px;
   border-top-left-radius: 10px;
  }

  #bookreview{
    width: 200px;
    border: 1px solid #d2744e;
    border-right: 0px;
    border-bottom: 0px;
    padding-top: 14px;

   }

   #myfavorite{
    width: 200px;
    border: 1px solid #d2744e;
    border-right: 0px;
    border-bottom: 0px;
    padding-top: 14px;

   }

   #knowledgebase{
    width: 200px;
    border: 1px solid #d2744e;
    border-right: 0px;
    border-bottom: 0px;
    padding-top: 14px;

   }

   #wintervacationplan{
    width: 200px;
    border: 1px solid #d2744e;
    border-bottom: 0px;
    padding-top: 14px;
    border-top-right-radius: 10px;

   }

   #aboutme:hover{
    background-color: rgb(197, 181, 181);
    transition: 2s;
  }
   
  #bookreview:hover{
    background-color: rgb(197, 181, 181);
    transition: 2s;
  }
   
  #myfavorite:hover{
    background-color: rgb(197, 181, 181);
    transition: 2s;
  }
   
  #knowledgebase:hover{
    background-color: rgb(197, 181, 181);
    transition: 2s;
  }
   
  #wintervacationplan:hover{
    background-color: rgb(197, 181, 181);
    transition: 2s;
  }
   
   .hr1{
        border: 0px;
        height: 1px;
        margin-top: 0px;
   }

   footer {
    margin-top: 30px;
    display: inline-flex;
    position: relative;
    justify-content: center;
    width: 100%;
  }
  
  #insimg {
    width: 40px;
    height: auto;
  }
  
  #faceimg {
    width: 40px;
    height: auto;
  }
  
  #copy {
    text-align: center;
  }
    

  #content{
      position: relative;
      margin-bottom: 90px;
  }

  #demian{
      margin-left: 17%;
      margin-top: 130px;
  }

  #img{
      width: 600px;
      height: auto;
      border: 2px solid black;
      border-radius: 8px;
  }

  #img:hover{
    transform: scale(1.1);
    transition: 20s;
  }

  #textfield{
      width: 600px;
      font-size: 25px;
      position: absolute;
      right: 17%;
      top: 200px;
  }
